# API Configuration
API_URL=http://localhost:3010/api
NEXT_PUBLIC_API_URL=http://localhost:3010/api

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3001

# Admin Configuration
ADMIN_TOKEN_KEY=blog-incrivel-admin-token
NEXT_PUBLIC_ADMIN_TOKEN_KEY=blog-incrivel-admin-token
